*{
    margin: 1%;
    margin-left: 3%;
    margin-right: 3%;
    background-color:  #132A13;
    text-decoration-color: #ECF39E;

}
header{
    margin:0%;
    position:relative;
    align-items: right;
    justify-content: space-around;
}
h1{
    margin-left: 3%;
    color:#ECF39E;
}
body{
    margin: 5%;
    color:#ECF39E;
}
.navbar{
    color: #ECF39E;
    align-items: right;
    font: size 40px;
}
