*{
    background-color:  #132A13;
    text-decoration-color: #ECF39E;

}
h1{
    margin-left: 7%;
    color:#ECF39E;
    font-size:30px;
    padding: 20px;
}
body{
    margin: 5%;
    color:#ECF39E;
}
p{
    font-size:20px;
    margin: 40px 2em;
}
.ColtAndZoie{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 500px;
    height:375px;
    border:solid 3px #31572c;
}
.it-me{
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    height: 400px;
    width:auto;
}
.ColtAndZoiePic{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.navbar{
    color: #ECF39E;
    background-color:#31572c;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    width:relative;
    align-items: center;
    justify-content:space-around;
    height:60px;
    border-radius: 10px;
}
header{
    color: #31572c;
    border-radius: 10px;
}
.navbarBackground{
    background-color: #31572c;
    border-radius: 10px;
}
.home{
    background-color:#31572c;
    color:#ECF39E
}
.experience{
    background-color:#31572c;
    color:#ECF39E;
}
.Homelabs{
    background-color:#31572c;
    color:#ECF39E;
}
.contactInfo{
    background-color:#31572c;
    color:#ECF39E;
}
.transmission{
    height:200px;
    width:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
