*{
    margin-left: 3%;
    margin-right: 3%;
    background-color:  #132A13;
    text-decoration-color: #ECF39E;

}
h1{
    margin-left: 10%;
    color:#ECF39E;
    font-size:30px;
    padding: 30px;
}
body{
    margin: 5%;
    color:#ECF39E;
}
p{
    font-size:20px;
    margin: 100px 200px;
    padding: 10px;
}
.ColtAndZoie{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 500px;
    height:375px;
}
.navbar{
    color: #ECF39E;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    width:relative;
    align-items: center;
}
